<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Delete', user_path(@user), method: :delete,
data: { confirm: 'Are you sure?' } %>
